<div class="order-template">
  <h1>
    {{ 'account.ordertemplates.heading' | translate
    }}<a class="btn btn-secondary" data-testing-id="add-order-template" (click)="addOrderTemplateDialog.show()">{{
      'account.order_template.list.button.add_template.label' | translate
    }}</a>
  </h1>

  <!-- Error message -->
  <ish-error-message [error]="orderTemplateError$ | async"></ish-error-message>

  <div class="section">
    <div class="list-header d-flex">
      <div class="list-header-item col-5">{{ 'account.order_template.list.table.template' | translate }}</div>
      <div class="list-header-item col-3">{{ 'account.order_template.list.table.created' | translate }}</div>
      <div class="list-header-item col-2">{{ 'account.order_template.list.table.item' | translate }}</div>
    </div>
    <ish-account-order-template-list
      [orderTemplates]="orderTemplates$ | async"
      (deleteOrderTemplate)="deleteOrderTemplate($event)"
    ></ish-account-order-template-list>
  </div>
</div>

<ish-order-template-preferences-dialog
  #addOrderTemplateDialog
  (submit)="addOrderTemplate($event)"
></ish-order-template-preferences-dialog>

<ish-loading *ngIf="orderTemplateLoading$ | async"></ish-loading>
