<!-- display addToCart Icon/animated Icon or link-->
<button
  type="submit"
  name="addProduct"
  class="btn btn-link add-to-order-template"
  (click)="openModal(modal)"
  data-testing-id="addToOrderTemplateButton"
>
  <ng-container [ngSwitch]="displayType">
    <ng-template [ngSwitchCase]="'link'">{{
      'account.order_template.add_to_template.button.add_to_template.label' | translate
    }}</ng-template>
    <ng-template [ngSwitchCase]="'animated'">
      <fa-icon
        [icon]="['fas', 'list']"
        [title]="'account.order_template.add_to_template.button.add_to_template.label' | translate"
      ></fa-icon>
      <span class="share-label">{{
        'account.order_template.add_to_template.button.add_to_template.label' | translate
      }}</span>
    </ng-template>
    <ng-template ngSwitchDefault>
      <fa-icon
        [icon]="['fas', 'list']"
        [title]="'account.order_template.add_to_template.button.add_to_template.label' | translate"
      ></fa-icon>
    </ng-template>
  </ng-container>
</button>

<ish-select-order-template-modal
  #modal
  [product]="product"
  (submitEmitter)="addProductToOrderTemplate($event)"
></ish-select-order-template-modal>
